@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0px;
  padding: 0px;
}
html{
background-color: #444444;
opacity: 1;
background: linear-gradient(135deg, #028a3055 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #028a30 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #028a3055 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #028a30 25%, #444444 25%) 0px 0/ 80px 80px;
}
section{
background: #2e9950;
background: radial-gradient(circle,rgba(46, 153, 80, 1) 46%, rgba(99, 207, 101, 1) 85%);
  width: 80%;
  margin: 0px auto;
  padding: 40px 0px;
  display: flow-root;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
article{
  width: calc(100%/3 - 40px - 4px);
  background-color: white;
  float: left;
  margin: 0px 20px;
  border: 2px solid #029533;
  padding-top: 40px;
  padding-bottom: 40px;
}
p{
  text-align: center;
  color:black;
}
h1{
  text-align: center;
  height: auto;
  width:80%;
  margin: 25px auto;
  border: 1px solid #029533;
  background-color: white;
  border-radius: 20px;
  padding: 10px 0px;
}
.si{
  width: 60%;
  float: left;
  border: 2px solid #11660c;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 10%;
  color:black;
  background: white;
}
footer{
  display: flow-root;
  background: #2e9950;
  margin: 60px auto;
}
footer>a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: white;
  float: right;
  border-radius: 30px;
  margin-top: 30px;
  margin-right: 80px;
}
.last{
  margin-right: 10%;
}
article>img{
  width: 100%;
  height: 400px;
  object-fit: contain;
  object-position: 50% 50%;
}
button{
  width: 75%;
  text-align: center;
  padding: 10px;
  border-radius: 75px;
  display: block;
  margin: 0px auto;
  background-color: #33ff77;
}
button:hover{
  color: black;
  background-color:green;
}
footer>a>i{
  display:block;
  width:100%;
  text-align: center;
  font-size: 20px;
  padding: 5px 0px;
  color: #3e4741;
}
footer>a>i:hover{
  color: black;
}
h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <500>;
  font-style: normal;
}
p{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <900>;
  font-style: normal;
}